:root {
  --branding-color: #5a4d41;
  --main-color: #1c1c1b;
  --primary-font: "Inter", sans-serif;
  --heading-font: "Playfair Display SC", serif;
}

body {
  background: var(--main-color);
  font-family: var(--primary-font);
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);

  font-weight: bold;
}

h1 {
  font-size: 66px;
}

.hero h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20;
}

.hero p {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: #1c1c1b;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
