:root {
  --branding-color: #5a4d41;
  --main-color: #1c1c1b;
  --primary-font: "Inter", sans-serif;
  --heading-font: "Playfair Display SC", serif;
}

body {
  background: var(--main-color);
  font-family: var(--primary-font);

  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);

  font-weight: bold;
}

h1 {
  font-size: 66px;
  line-height: 1.5;
}
h2 {
  font-size: 50px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: white;
}

.hero h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.hero {
  background-image: url(/images/backgound.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 20;
  color: white;
}

.hero p {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-brand {
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 2px solid var(--main-color);
}

.project-head {
  color: var(--branding-color);
}
.projects {
  text-align: center;
  margin-bottom: 15px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--primary-font);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
  margin: 0;
}
.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.emojis {
  font-size: 40px;
}

.logo {
  max-width: 150px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li:active a {
  color: var(--branding-color);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--main-color);
}

footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--main-color);
  padding: 10px 14px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: var(--main-color);
  background: white;
}

footer .contact-box {
  padding: 30px 120px;
  background: var(--branding-color);
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }

  .about-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  h3 {
    font-size: 26px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.project-card {
  width: 32%;
  max-width: 360px;
  background: var(--branding-color);
  padding: 20px;
  border-radius: 6px;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  border-radius: 6px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--branding-color);
  right: 40px;
  left: auto;
}

.swiper-button-prev {
  left: 40px;
  right: 40px;
}
